@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.6/dist/web/static/pretendard.css");
@font-face {
	font-family: "RixInooAriDuriR";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "TTTtangsbudaejjigaeB";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "HealthsetBambooStd";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HealthsetBambooStd.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
body {
	@apply bg-pink-100 text-gray-800 font-sans;
	font-family: "Pretendard", sans-serif;
}
html {
	scroll-behavior: smooth;
}
